/data
/misc
/model
/config
/config.yml
/tests
.venv
.flake8
# don't ignore entire git as we need provenance info
# so ignore specific git folders
.git/objects
.git/logs
.git/info
.git/hooks
.git/branches
.github
.mypy_cache
.pytest_cache
.coverage
__pycache__
s3-creds.env